<body class="profile">
<h1 class="title">USER PAGE</h1>
<div class="basicInfo">
  <% if @user.image? %>
    <%= image_tag @user.image_url, :class=>"prfImg"%> 
  <% else %>
    <%= image_tag "noimage.png", :class=>"prfImg" %>
  <% end %>

  <div class="basicTxt">
    <h3 class="name"><%= @user.name %></h3>
    <% if current_user.id == @user.id %>
      <p><%= @user.email %></p>
    <% end %>
  </div>
</div>
<div class="prfInf">
  <p>プロフィール</p>
  <%= @user.profile %>
</div>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path, :class=>"btn" %>
<% end %>

<br>
<h2>投稿一覧</h2>
<div class="myposts-container">
<% @user.posts.each do |t| %>
<div class="mypost">
  <p><i class="fa-solid fa-location-dot fa-lg" style=" color:red"></i><%= t.name %></p>
  <p><%= t.about %></p>
  <%= link_to "もっと見る", post_path(t.id) %>
</div>
<% end %>
</div>

<h2>いいね一覧</h2>
<div class="myposts-container">
<% @user.liked_posts.each do |t| %>
<div class="mypost">
  <p><i class="fa-solid fa-location-dot fa-lg" style=" color:red"></i><%= t.name %></p>
  <p><%= t.about %></p>
  <%= link_to "もっと見る", post_path(t.id) %>
</div>
<% end %>
</div>

<p class="prflink"><%= link_to "映画館一覧に戻る", posts_path, :class=>"link" %></p>
</body>
