<!DOCTYPE html>
<html>
  <head>
    <title>Cinema Reviews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0d2d15ef3c.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="./top.css">
  </head>

  <body class="top">
    <div class="center">
      <img src="/assets/top1.jpg" class="img2" id="topimg">
      <span class="big">
        <h3>映画"館"を探せるレビューサイト</h3>
        <h1 class="title">cinema reviews</h1>
      </span>
    </div>
    <h2>あれ？</h2>
    <ul class="container">
    <li>ポップコーンの種類が少ない</li>
      <li>座席が硬くて疲れてしまう</li>
      <li>映画館周りに遊べる施設が足りない</li>
    </ul>

    <h2 class="black">そんな「映画館」に関するお悩み<br>感じたことはありませんか？</h2>

    <div class="center">
      <img src="/assets/watching.gif" class="img2">
      <span><h1>ここは<br>映画館の情報を<br>探せるサイト</h1></span>
    </div>

    <div class="center">
      <img src="/assets/top3.jpg" class="img2">
      <span>
        <ul class="container up">
          <li class="term">一緒に行く人</li>
          <li class="term">立地</li>
          <li class="term">観たい映画</li>
        </ul>
        <div class="fuwafuwa">
        <img src="/assets/fukidashi1.png" id="fukidashi">
        <h2>条件にぴったりの映画館を<br>見つけよう！</h2>
        </div>
      </span>

    <%= link_to posts_path, :class=>"perfume_link" do %>
      <h3>みんなのレビューを見る！<i class="fa-solid fa-arrow-right"></i></h3>
    <% end %>
  </body>
</html>
